# Configurações do Supabase
# Substitua pelos valores do seu projeto Supabase
VITE_SUPABASE_URL=https://cnqrgrdidguaijsfbbep.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNucXJncmRpZGd1YWlqc2ZiYmVwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ0MDg3NTcsImV4cCI6MjA2OTk4NDc1N30.bHGNzPUyXGxo82nm1K3MKirs25kmhNVqHVibEL6wbgI